/.metadata/
mockitoCookbook/.settings/
mockitoCookbook/target/
mockitoCookbook/.classpath
mockitoCookbook/.project
.settings
.classpath
bin
.project
book-code/mockito-cookbook/chapter01/.gitignore
book-code/mockito-cookbook/chapter02/.gitignore
book-code/mockito-cookbook/chapter03/.gitignore
book-code/mockito-cookbook/chapter04/.gitignore
book-code/mockito-cookbook/chapter05/.gitignore
book-code/mockito-cookbook/chapter06/.gitignore
book-code/mockito-cookbook/chapter07/.gitignore
book-code/mockito-cookbook/chapter08/.gitignore
book-code/mockito-cookbook/chapter09/.gitignore
book-code/mockito-cookbook/chapter10/.gitignore
book-code/mockito-cookbook/common-test/.gitignore
book-code/mockito-cookbook/common/.gitignore
book-code/mockito-cookbook/chapter01/
